<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PDFファイルをアップロードしてExcelやWordに変換するツールです。データの加工や変換を簡単に行いましょう。">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PDFファイルのExcel・Word変換ツール</title>
</head>

<body>
    <div class="container">
        <div class="tab">
            <button class="tablinks active" onclick="openTab(event, 'excelTab')">Excel</button>
            <button class="tablinks" onclick="openTab(event, 'wordTab')">Word</button>
        </div>
        <div id="excelTab" class="tabcontent">
            <h1 id="en-title_excel" style="display: none;">PDF to Excel Conversion</h1>
            <h1 id="jp-title_excel">PDFをExcelへ変換</h1>
            <form action="/upload_excel" method="POST" enctype="multipart/form-data">
                <input type="file" name="pdf_file">
                <input type="submit" value="アップロードして変換" id="submit-button_excel">
            </form>
            <div class="icon-container">
                <div class="icon">📄</div>
                <div class="icon">➡️</div>
                <div class="icon">📊</div>
            </div>
            <p class="description" id="en-description_excel" style="display: none;">
                Upload a PDF file, convert it to Excel,
                and transform your data with ease!
            </p>
            <p class="description" id="jp-description_excel">
                PDFファイルをアップロードし、Excelに変換して<br />
                データを簡単に加工しましょう！
            </p>
        </div>

        <div id="wordTab" class="tabcontent" style="display: none;">
            <h1 id="en-title_word" style="display: none;">PDF to Word Conversion</h1>
            <h1 id="jp-title_word">PDFをWordへ変換</h1>
            <form action="/upload_word" method="POST" enctype="multipart/form-data">
                <input type="file" name="pdf_file">
                <input type="submit" value="アップロードして変換" id="submit-button_word">
            </form>
            <div class="icon-container">
                <div class="icon">📄</div>
                <div class="icon">➡️</div>
                <div class="icon">📝</div>
            </div>
            <p class="description" id="en-description_word" style="display: none;">
                Upload a PDF file, convert it to Word,
                and transform your data with ease!
            </p>
            <p class="description" id="jp-description_word">
                PDFファイルをアップロードし、Wordに変換して<br />
                データを簡単に加工しましょう！
            </p>
            <p class="notice" id="en-notice_word" style="display: none;">
                Please note: The conversion process may take some time. Please wait until the download of the converted
                Excel file begins.
            </p>
        </div>
        <p class="notice" id="en-notice" style="display: none;">
            Please note: The conversion process may take some time.
            Please wait until the download of the converted file begins.
            The accuracy of the conversion results may vary based on the complexity of the PDF content.
            
        </p>
        <p class="notice" id="jp-notice">
            注意：変換処理に時間がかかることがあります。<br/>
            ファイルのダウンロードが始まるまでお待ちください。<br/>
            <br/>
            変換精度は、PDFの内容の複雑さによって異なります。
        </p>
        <button onclick="toggleLanguage()">Change Language</button>
    
        <footer>
            <p class="copyright">© 2023 PDF変換ツール</p>
            <p class="disclaimer">このサービスの利用に関連する損害や損失について一切の責任を負いません。</p>
            <p class="disclaimer">We disclaim any liability for any damages or losses that may arise from the use of this service.</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>